body {
  background-image: url("../images/grace.jpg");
  background-position: 35% 35%;
  background-repeat: no-repeat;
  opacity: 0.75;
  font-family: 'KoHo', sans-serif;
  color: white;
  font-size: 1.4rem;
}

@media only screen and (max-width: 1550px) {
  body {
    background-position: 30% 30%;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    background-position: 42% 30%;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 992px) {
  body {
    background-position: 55% 0;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-position:
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("../images/grace85.jpg");
    background-position: 35% 30%;
    background-size: cover;
    font-size: 1.25rem;
  }
}

.jumbotron {
  background-color: #000080;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .jumbotron {
   margin-bottom: 0.5rem;
  }
}

.header {
  display: flex;
  margin-bottom: 1rem;
}

h1 {
  text-shadow: 2px 2px 2px black;
  letter-spacing: 3px;
 }

 @media only screen and (max-width: 600px) {
   .display-4 {
    font-size: 3rem;
   }
 }

header img {
  margin-left: -13px;
  border-radius: 22%;
}

.img-fluid {
  float: left;
  border: 1px solid #0D4D4D;
  margin-right: 1.5rem;
}

.blockquote {
 color: #ffd600;
 font-size: 2rem;
 font-style: italic;
 font-weight: bolder;
 text-shadow: 1px 1px 2px black;
}

@media only screen and (max-width: 992px) {
  .blockquote {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .blockquote {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .blockquote {
    font-size: 1.1rem;
  }
}

.topQuote {
  padding-left: 95px;
  padding-bottom: 0.5rem;
  /* animation-name: example;
  animation-duration: 2s;
  animation-delay: 1s; */
}

@media only screen and (max-width: 992px) {
  .topQuote {
    padding-right: 0;
  }
}


@media only screen and (max-width: 600px) {
  .card-deck {
    flex-direction: column;
  }
  .card-deck .card {
    margin-bottom: 5px;
  }



}

.card-header {
  background-color: #000080;
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  .card-header {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .card-header {
    font-size: 1.1rem;
  }
}

.card-body {
  background-color: #000080;
  padding: 0 1.25rem;
}

@media only screen and (max-width: 992px) {
  .card-body {
    font-size: 1.2rem;
    padding: 2px 10px;
  }
}

@media only screen and (max-width: 600px) {
  .card-body p {
    font-size: 1.1rem;
    margin-bottom: 2px;
  }
}

.card-body p {
  margin-bottom: 8px;
}

@media only screen and (max-width: 992px) {
  .card-body p {
  margin-bottom: 0.1rem;
  }
}


/* @keyframes example {
    0%   {margin-left:8px;}
    25%  {margin-left:16px;}
    50%  {margin-left:32px;}
    75%  {margin-left:48px;}
    100% {margin-left:56px;}
} */



span {
  color: #0d47a1;
  color: #fbc02d;
  text-shadow: 1px 1px 2px #0d47a1;
}

a:link {
  text-decoration: none;
  color: #fbc02d;
}

a:visited {
  color: #fbc02d;
}

article p {
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  background-color: rgba(0,0,0,0.2);
}

.bottomQuote p {
  text-shadow: 2px 2px 2px black;
  margin-left: 4.5rem;
}
/* p:last-of-type {
  margin-bottom: 0;
} */

/* p:nth-child(3) {
  margin-left: 35px;
}

p:nth-child(4) {
  margin-left: 15px;
}  */

/* @media only screen and (min-width: 1550px) {
  p:nth-child(2) {
    margin-left: 20px;
  }

  p:nth-child(3) {
    margin-left: 40px;
  }

  p:nth-child(4) {
    margin-left: 60px;
  }
  p:nth-child(5) {
    margin-left: 40px;
  }
} */

/* @media only screen and (max-width: 800px) {
  p {
    margin-top: 15px;
    margin-bottom: 15px;

    letter-spacing: 1px;
  }
  p:nth-child(1) {
    width: 55%;
    margin-left: 10px;
  }
  p:nth-child(2) {
    width: 65%;
    margin-left: 10px;
  }

  p:nth-child(3) {
    width: 75%;
    margin-left: 10px;
  }
  p:nth-child(4) {
    width: 90%;
  } */


footer {
  padding: 10px;
  background-color: #000080;
}

footer a:link {
  text-decoration: none;
}

footer a:visited {
  color: #fbc02d;
}

footer a:hover {
  color: red;
}
